/* Definizione variabili */
:root{
    --header_height: 90vh;
    --header_color: #B4D0E7;
    --nav_height: 10vh;
    --nav_font_size: 1em;
    --nav_logo_size: 80%;
    --central_width: 65%;
    --section_padding: 15vh 5vw;
    --footer_color: #23272A;
    --footer_text_color: #A49797;
    --text_color: #181818;
    --button_text_color: #FFFFFF;
    --button_color: #0061FF;
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 1.5em;
}

.text_color{
    color: var(--text_color);
}

.footer_text_color{
    color: var(--footer_text_color);
}

.central_block{
    width: var(--central_width);
    margin: 0 auto;
}

header{
    width: 100%;
    min-height: var(--header_height);
    background-color: var(--header_color);
}

nav{
    width: 100%;
    height: var(--nav_height);
    background-color: #FFFFFF;
    font-size: var(--nav_font_size);
}

#left_nav, #right_nav{
    flex-basis: 30%;
}

#left_nav, #right_nav{
    padding: 0 15px;
}

#left_nav img{
    padding: 0;
    width: var(--nav_logo_size);
    vertical-align: middle;
}

.btn_normal{
    color: var(--button_text_color);
    background-color: var(--button_color);
}

#header_block{
    top: var(--nav_height);
    height: calc(var(--header_height) - var(--nav_height));
    padding: calc(var(--nav_height) / 2) 0;
}

#header_block > #shifted_block{
    bottom: 0;
    transform: translateY(15%);
}

#header_block #arrow_link{
    font-size: 2.5em;
    bottom: 15%;
}

#header_block a{
    margin: 2em 0;
}

.section_padding{
    padding: var(--section_padding);
}

#find_plan_section, #radio_and_cards{
    row-gap: 3em;
}

.card{
    flex-basis: calc(90% / 3);
    border: 1px solid var(--footer_text_color);
    padding-bottom: 2em;
    row-gap: 1.5em;
    align-self: stretch;
}

.card :not(.card_title){
    margin: 0 0.3em;
}

.card li.d_flex{
    column-gap: 0.3em;
    margin: 0.5em 0;
}

.card .modulo > h4{
    margin-bottom: 1em;
}

.card .color_blue{
    color: var(--button_color);
}

.card_title{
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--footer_text_color);
}

.link_div{
    text-align: center;
}

.card > .line{
    color: var(--footer_text_color);
    text-decoration: underline;
}

#enterprise{
    border: 1px solid var(--footer_text_color);
}

#enterprise_block{
    column-gap: 10%;
}

#enterprise_left{
    flex-basis: 60%;
    padding: 2em 2em 2em 0.5em;
}

#enterprise_left > h4{
    padding-top: 1em;
    padding-bottom: 2em;
}

#enterprise_right{
    flex-basis: 30%;
    padding: 2em 1.5em;
}

#meet_partner{
    margin: 5vh 0;
    column-gap: 5%;
}

#meet_partner > img{
    width: 60%;
}

#meet_partner > div{
    padding-top: 2em;
}

#meet_partner p{
    padding: 2em 0;
}

#meet_partner .btn_normal{
    background-color: white;
    color: var(--text_color);
    border: 1px solid var(--text_color);    
}

footer{
    padding: 5vh 0;
    background-color: var(--footer_color);
}

#footer_top > div{
    color: #FFFFFF;
    padding: 5vh 0;
}

#footer_top ul{
    padding: 5vh 0;
}

#footer_top li{
    line-height: 2em;
}

#footer_bottom > .d_ib{
    padding: 5vh 15px 0 0;
    border-top: 1px solid var(--footer_text_color);
}

#footer_bottom select{
    background-color: var(--footer_color);
    color: var(--footer_text_color);
    border: none;
    margin: 0 5px;
}