/* Definizione variabili */
:root{
    --header_height: 90vh;
    --header_color: #B4D0E7;
    --nav_height: 10vh;
    --nav_font_size: 1em;
    --nav_logo_size: 80%;
    --central_width: 65%;
    --section_padding: 15vh 5vw;
    --inner_block_color: #F5F5F5;
    --designit_col: #A2D39B;
    --designit_ext: #D1E9CD;
    --asu_col: #61082B;
    --uf_col: #0093CE;
    --topps_col: #FF1C1C;
    --wbr_col: #D5001F;
    --hearst_col: #B4D0E7;
    --lonely_col: #0D2481;
    --cco_col: #FFD830;
    --footer_color: #23272A;
    --footer_text_color: #A49797;
    --text_color: #181818;
    --button_text_color: #FFFFFF;
    --button_color: #0061FF;
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

.text_color{
    color: var(--text_color);
}

.footer_text_color{
    color: var(--footer_text_color);
}

.central_block{
    width: var(--central_width);
    margin: 0 auto;
}

header{
    width: 100%;
    min-height: var(--header_height);
    background-color: var(--header_color);
}

nav{
    width: 100%;
    height: var(--nav_height);
    background-color: #FFFFFF;
    font-size: var(--nav_font_size);
}

#left_nav, #right_nav{
    flex-basis: 30%;
}

#left_nav, #right_nav{
    padding: 0 15px;
}

#left_nav img{
    padding: 0;
    width: var(--nav_logo_size);
    vertical-align: middle;
}

.btn_normal{
    color: var(--button_text_color);
    background-color: var(--button_color);
}

#header_block{
    top: var(--nav_height);
    height: calc(var(--header_height) - var(--nav_height));
    padding: calc(var(--nav_height) / 2) 0;
}

#header_block > #shifted_block{
    bottom: 0;
    transform: translateY(15%);
}

#header_block #arrow_link{
    font-size: 2.5em;
    bottom: 15%;
}

#header_block a{
    margin: 2em 0;
}

.section_padding{
    padding: var(--section_padding);
}

#find_plan_section, #radio_and_cards, #business_group{
    row-gap: 3em;
}

.card{
    flex-basis: calc(90% / 3);
    border: 1px solid var(--footer_text_color);
    padding-bottom: 2em;
    row-gap: 1.5em;
    align-self: stretch;
}

.card :not(.card_title){
    margin: 0 0.3em;
}

.card li.d_flex{
    column-gap: 0.3em;
    margin: 0.5em 0;
}

.card .modulo > h4{
    margin-bottom: 1em;
}

.card .color_blue{
    color: var(--button_color);
}

.card_title{
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid var(--footer_text_color);
}

.link_div{
    text-align: center;
}

.line{
    color: var(--footer_text_color);
    text-decoration: underline;
}

#enterprise{
    border: 1px solid var(--footer_text_color);
}

#enterprise_block{
    column-gap: 10%;
}

#enterprise_left{
    flex-basis: 60%;
    padding: 2em 2em 2em 0.5em;
}

#enterprise_left > h4{
    padding-top: 1em;
    padding-bottom: 2em;
}

#enterprise_right{
    flex-basis: 30%;
    padding: 2em 1.5em;
}

#meet_partner{
    margin-top: 5vh;
    column-gap: 5%;
}

#meet_partner > img{
    width: 60%;
}

#meet_partner > div{
    padding-top: 2em;
}

#meet_partner p{
    padding: 2em 0;
}

#meet_partner .btn_normal{
    background-color: white;
    color: var(--text_color);
    border: 1px solid var(--text_color);    
}

#business_group{
    margin-top: 3em;
}

.business_item{
    width: calc(90% / 3);
    row-gap: 1.5em;
}

#wipro a{
    margin: 2em 0;
}

#wide_box{
    width: 100%;
    height: 34vw;
}

/* Caratteristiche degli aside in quanto flex items */
#wipro > #wide_box > aside{
    flex-basis: 34%;
}

.aside_logo{
    flex-basis: 50%;
    height: 17vw;
}

#inner{
    width: 32%;
    padding: 50px;
    align-self: stretch;
    gap: 10%;
    background-color: var(--inner_block_color);
    overflow: auto;
}

#inner > img{
    width: 50%;
}

.aside_logo > img{
    object-fit: 100%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(358deg) brightness(103%) contrast(101%);
}

.aside_logo.designit{
    background-color: var(--designit_col);
    border: 15px solid var(--designit_ext);
}

.aside_logo.asu{
    background-color: var(--asu_col);
}

.aside_logo.uf{
    background-color: var(--uf_col);
}

.aside_logo.topps{
    background-color: var(--topps_col);
}

.aside_logo.wbr{
    background-color: var(--wbr_col);
}

.aside_logo.hearst{
    background-color: var(--hearst_col);
}

.aside_logo.lonely{
    background-color: var(--lonely_col);
}

.aside_logo.cco{
    background-color: var(--cco_col);
}

#free_trial{
    width: 100%;
    height: calc(4 * var(--nav_height));
    background-color: var(--header_color);
}

#free_trial h2{
    flex-basis: 50%;
}

#free_trial .btn_normal{
    background-color: white;
    color: var(--text_color);
}

#faq > #sliding_faq{
    padding: 3em 0;
    line-height: 3em;
}

#faq > #sliding_faq > .faq_item:first-child{
    border-top: 1px solid var(--text_color);
}

#faq > #sliding_faq > .faq_item{
    border-bottom: 1px solid var(--text_color);
}

#faq > #sliding_faq > .faq_item > .text{
    flex-basis: 95%;
}

#faq > #sliding_faq > .faq_item > .caret{
    flex-basis: 5%;
    text-align: center;
}

.faq_item:hover{
    animation-name: bord_bott;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.faq_item:hover .caret{
    animation-name: caret_col;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bord_bott{
    from    {border-bottom: 1px solid var(--text_color);}
    to      {border-bottom: 3px solid orange;}
}

@keyframes caret_col{
    0%      {color: var(--text_color);}
    100%    {color: orange;}
}

.faq_item:hover:active{
    animation-name: answers;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.faq_item:hover:active .caret{
    animation-name: caret_rev;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes answers{
    from    {border-bottom: 1px solid var(--text_color);}
    to      {border-bottom: 3px solid orange;}
}

@keyframes caret_rev{
    0%      {transform: rotate(0deg);
             color: orange;
            }
    100%    {transform: rotate(180deg);
             color:red;
            }
}

footer{
    padding: 5vh 0;
    background-color: var(--footer_color);
}

#footer_top > div{
    color: #FFFFFF;
    padding: 5vh 0;
}

#footer_top ul{
    padding: 5vh 0;
}

#footer_top li{
    line-height: 2em;
}

#footer_bottom > .d_ib{
    padding: 5vh 15px 0 0;
    border-top: 1px solid var(--footer_text_color);
}

#footer_bottom select{
    background-color: var(--footer_color);
    color: var(--footer_text_color);
    border: none;
    margin: 0 5px;
}